<!-- Footer -->
<footer class="text-center text-lg-start text-white bg-dark p-2">

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4 p-3">
                        <img src="../static/img/shape.png" width="50" height="50"
                            style="margin-left: -1rem; margin-right: 0.5rem;">The Art
                        Store
                    </h6>
                    <p>
                        Step into a world where time stands still and treasures from the past come to life.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Information
                    </h6>
                    <p>
                        <a href="#!" class="text-reset nav-link">Cool Stuff</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset nav-link">Random Feature</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset nav-link">Team Features</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset nav-link">Developers</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        About Us
                    </h6>
                    <p>
                        <a href="#!" class="text-reset nav-link">Resources</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset nav-link">Resource Name</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset nav-link">Address</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset nav-link">Know more</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        FAQ
                    </h6>
                    <p>
                        <a href="#!" class="text-reset nav-link">Team</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset nav-link">Locations</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset nav-link">Privacy</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset nav-link">Terms</a>
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(29, 28, 28, 0.021);">
        © 2024 Copyright:
        <a class="text-reset fw-bold" href="http://hemantraj19.github.io/portfolio-website/">Hemant Raj</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
<script src="../static/js/app.js"></script>
</body>

</html>