{% from 'bootstrap5/form.html' import render_form %}
{% include "header.html" %}
<!-- Bootstrap Icons CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<style>
    .custom-placeholder::placeholder {
        color: black !important;
    }
</style>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">Register</h5>
                    <form method="post">
                        <div class="mb-5 input-group">
                            {{ user_register_form.csrf_token }}
                            <span class="input-group-text" style="border-radius: 0.2rem;"><i
                                    class="bi bi-person-fill"></i></span>
                            {{ user_register_form.name(class="form-control custom-placeholder", placeholder="Name")
                            }}
                        </div>
                        <div class="mb-5 input-group">
                            <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                            {{ user_register_form.email(class="form-control custom-placeholder", placeholder="Email") }}
                        </div>
                        <div class="mb-5 input-group">
                            <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                            {{ user_register_form.password(class="form-control custom-placeholder",
                            placeholder="Password") }}
                        </div>
                        <div class="d-grid gap-2 col-4 mx-auto">
                            {{user_register_form.submit(class="btn btn-primary")}}
                        </div>
                    </form>
                    <div class="text-center pt-5 d-flex justify-content-center">
                        <p class="mx-2">Already a user?</p>
                        <a href="{{url_for('user_login')}}" class="nav-link" style="text-decoration: underline;">Login
                            Instead</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}